body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.st-container:after,.st-container:before,.st-panel:after,.st-panel:before,.st-row:after,.st-row:before,.st-row-padding:after,.st-row-padding:before,
.st-auto{margin-left:auto;margin-right:auto}
.st-auto{max-width:1140px}
.st-container,.st-panel{padding:0.01em 16px}.st-panel{margin-top:16px;margin-bottom:16px}
.st-round{border-radius:8px}
.st-width {width:33.33333%}

.bg-color{color:#ffffff;background-color:#085078}
.warning-amber{color:#000;background-color:#ffc107}
.status-online{color:#fff;background-color:#4CAF50}
.status-offline{color:#fff;background-color:#f44336}
.warning-yellow{color:#000;background-color:#ffeb3b}
.text-white{color:#ffffff}
.text-amber{color:#ffc107}
.text-green{color:#4CAF50}
.text-red{color:#f44336}
.text-yellow{color:#d2be0e}

