.bgcolor{
    text-align: center;
    color:#f3f3f3;
    background-color:#323947;

}
.grid{
    display:grid;
    grid-template-columns: 50% 48%;
    grid-gap:1em;
    grid-auto-rows: minmax (100px, auto);
}
.grid > div{
    color:#f3f3f3;
    background:#3f485a;
    padding:1em;
    border-radius: 8px;
    font-size: 16px;
}

.grid > div:nth-child(odd){
    color:#f3f3f3;
    background:#3f485a;
    font-size: 16px;
}
