.header{
    position: top;
    border-radius: 8px;
    text-align: center;
    width:65%;
    color:#fff;
    background:#323947;
}

.bgcolor{
    text-align: center;
    color:#fff;
    background:#000;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
    footer-template-rows: 2fr;
    color:#000;
    background:#eee;
    
}
