.header{
    position: top-center;
    border-radius: 8px;
    text-align: center;
    width:100%;
    color:#fff;
    background-image: url ("http://www.citytech.cuny.edu/images/logos/citytech_logo.png");
    background-repeat: no-repeat;
    background-size: 239px 69px;
}

.main{
    text-align: center;
    color:#fff;
    background:#000;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align:center;
    color:#000;
    background:#eee;
    padding: 5px;
}
